*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(./resident-evil-village-capa-1060x596.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 79px;
    padding-right: 79px;
    padding-bottom: 16px;
    font-family: 'Inria Serif', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: aqua;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: right;    
    align-items: end;
    gap: 15px;
}

header a{
    display: block;
}

main{
background-color: blueviolet;
}

footer{
background-color: chocolate;
}